.element {

    background-image: url('../../../../Public/assets/images/cover.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 
    
    
   
}